.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #b3f3e6;
}

.appBar{
  padding: 5px;
  margin-top: 0px;
  background-color: rgb(85, 147, 241);
}

.links{
  margin: 5px;
  color:white;
}
.paper{
 
  height: 100%;
  padding: 10px;
}
